aws_region   = "ap-northeast-2"
project_name = "msa"
environment  = "prod"

service_name         = "authz-server"
service_runtime_name = "permission-service"
service_role         = "app-service"

vpc_cidr             = "10.23.0.0/16"
public_subnet_cidrs  = ["10.23.1.0/24", "10.23.2.0/24"]
private_subnet_cidrs = ["10.23.11.0/24", "10.23.12.0/24"]

app_ingress_cidrs = ["203.0.113.10/32"]
app_port      = 8084
desired_count = 2
task_cpu      = 512
task_memory   = 1024

health_check_path = "/health"

image_tag    = "latest"
enable_mysql = false

app_env = {
  REDIS_HOST       = "central-redis"
  REDIS_PORT       = "6379"
  REDIS_TIMEOUT_MS = "1000ms"
}

app_secret_env = {
  PERMISSION_INTERNAL_REQUEST_SECRET = "replace-with-shared-internal-secret"
}
